<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SupportsSwiftPackage</key>
	<true/>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>AllowedTypes</key>
	<array>
		<string>public.swift-source</string>
	</array>
	<key>Description</key>
	<string>An empty Swift Struct.</string>
	<key>Summary</key>
	<string>An empty Swift Struct</string>
	<key>SortOrder</key>
	<string>1</string>
    <key>Platforms</key>
    <array />
	<key>DefaultCompletionName</key>
	<string>Struct</string>
    <key>Options</key>
    <array>
      <dict>
        <key>Identifier</key>
        <string>structName</string>
        <key>Name</key>
        <string>Struct Name</string>
        <key>Description</key>
        <string>The name of the Swift Struct to create</string>
        <key>NotPersisted</key>
        <true />
        <key>Required</key>
        <true />
        <key>Type</key>
        <string>text</string>
      </dict>
    </array>
</dict>
</plist>
